input{
  width: 80% !important;
}
.table table,.table tr,.table th,.table td{
  border: 1px solid black;
  padding: 5px 10px;
}
.button{
  border: 1px solid black;
  padding: 5px 10px;
  margin: 20px 50px;
}